body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./Fonts/Raleway-ExtraBold.ttf) format("truetype");
}

#keyboard-box {
  position: absolute;
  bottom: 1vh;
  width: 50vw;
  left: 25vw;
  min-height: 24vh;
}
.keyboard-row {
  min-height: 8vh;
}

.cell {
  border: 2px solid #b2beb5;
  font-size: 2rem;
  width: 63px;
  height: 63px;
  color: white;
}

@media only screen and (max-width: 450px) {
  #keyboard-box {
    /* position: absolute; */
    /* bottom: 1vh; */
    width: 96vw;
    left: 2vw;
    /* min-height: 24vh; */
  }
  /* .keyboard-row {
    min-height: 8vh;
  } */
}
